<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Supabase Auth</title>
  <th:block th:replace="~{scripts}"></th:block>
</head>
<body>
<h1>
  Supabase Security Spring Boot Starter
</h1>


<h2>authentication</h2>
<span th:text="${#authentication }">
</span>
<h2>authorization</h2>
<span th:text="${#authorization}">
</span>
<div sec:authorize="hasRole('ROLE_ANONYMOUS')">
  <h2>
    Login
  </h2>
  <form name="login-form" hx-post="/api/user/login" hx-target="#login-response">
    <label>Email:
      <input id="login-email" name="email" type="text"/>
    </label>
    <label>Password:
      <input id="login-password"  name="password" type="password"/>
    </label>
    <button name="submit" type="submit">Submit</button>
  </form>

  <div id="login-response"></div>
  <h2>
    Sign Up
  </h2>
  <form>
    <label>Email:
      <input name="email" type="text"/>
    </label>
    <label>Password:
      <input name="password" type="password"/>
    </label>
    <button hx-post="/api/user/signup" hx-target="#signup-response">Submit</button>
  </form>
  <div id="signup-response"></div>
  <h2>
    OTP
  </h2>
  <form>
    <label>Email:
      <input name="email" type="text"/>
    </label>
    <button hx-post="/api/user/sendEmailOtp" hx-target="#signup-otp-response">Submit</button>
  </form>

  <a hx-get="/api/user/anon">Sign In Anonymously</a>
  <div id="signup-otp-response"></div>


  <a href="https://ettvaltrmhclwfsfzxvh.supabase.co/auth/v1/authorize?provider=google">Sign In with Google</a>

</div>

<div sec:authorize="!hasRole('ROLE_ANONYMOUS')">
  <a href="/account">Account Page</a>
  <h2>
    <button hx-get="/api/user/logout">Logout</button>
  </h2>
</div>
<script>
  if (window.location.hash.startsWith("#access_token")) {
    htmx.ajax('POST', '/api/user/jwt', {target: '#body', swap: 'outerHTML'})
    .then(window.location.hash = "")
  }
</script>
</body>
</html>
